<!doctype HTML>
<html lang="en">
<%- include('layouts/header') -%>
<body>
<%- include('layouts/navBar') -%>
<!--main body-->
<header class="post-bg">
    <div class="container">
        <div class="row justify-content-center align-items-center flex-center" style="height: 80vh;">
            <%- include('data/feature-data') -%>
        </div>
    </div>
</header>
<!--main body-->
<%- include('layouts/footer') -%>
</body>
<!--scripts-->
<%- include('layouts/scripts') -%>
</html>