<!doctype HTML>
<html lang="en">
<%- include('layouts/header') -%>
<body>
<%- include('layouts/navBar') -%>
<!--main body-->
<main class="container" style="margin-top: 150px;">
    <h1 class="text-center mb-2 display-4 fw-bold">Welcome to our features & Services</h1>
    <p class="text-center mb-5">We offer some services for your business on the internet, to include security, website, domain, maintenance.</p>
    <%- include('data/features-data') -%>
</main>
<!--main body-->
<%- include('layouts/footer') -%>
</body>
<!--scripts-->
<%- include('layouts/scripts') -%>
</html>